<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<header th:fragment="cabecalho">
		<nav
			class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<div sec:authorize="isAnonymous()" style="right: 10px; position: absolute">
						<form th:action="@{/login}" method="post">
							<div class="row">
								<div class="col-sm-12 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit"
										   class="form-control btn btn-info" value="Login">
								</div>
							</div>
						</form>
					</div>
					<div sec:authorize="isAuthenticated()" style="right: 10px; position: absolute">
						<form th:action="@{/logout}" method="post">
							<div class="row">
								<div class="col-sm-12 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit"
										class="form-control btn btn-info" value="Logout">
								</div>
							</div>
						</form>
					</div>
					<div style="right: 100px; position: absolute">
						<a th:href="@{''(lang=pt)}" style="width: 30px;"/> Portugues </a>
						<a th:href="@{''(lang=en)}" style="width: 30px;"/> English </a>
					</div>

					<a class="navbar-brand " th:href="@{/}" th:text="#{title.label}">
					</a>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>