<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container" id="listagem">
        <br /> <br /> <br />

        <div th:replace="fragments/alert"></div>

        <h1 class="display-4" th:text="#{medico.lista.label}">Listagem dos Medicos</h1>

        <form action="#" method="get">
            <div class="form-group">
                <label for="especialidade" th:text="#{medico.especialidade.label}"></label>
                <select class="form-control" id="especialidade" name="especialidade">
                    <option value="" th:text="#{medico.listartodos.label}"></option>
                    <option th:each="especialidade : ${especialidade}" th:value="${especialidade}" th:text="${especialidade}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-filtrar" th:text="#{medico.botao.filtrar.label}"></button>
        </form>

        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead class="thead-dark">
                <tr>
                    <th th:text="#{medico.crm.label}">CRM</th>
                    <th th:text="#{medico.especialidade.label}">Especialidade</th>
                    <th th:text="#{medico.email.label}">Email</th>
                    <th th:text="#{medico.name.label}">Nome</th>
                    <th sec:authorize="hasRole('paciente')" th:text="#{acao.label}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="medico : ${medicos}">
                    <td th:text="${medico.getCrm().getCrmNumber()}"></td>
                    <td th:text="${medico.especialidade}"></td>
                    <td th:text="${medico.getEmail().getEmail()}"></td>
                    <td th:text="${medico.nome}"></td>
                    <td sec:authorize="hasRole('paciente')" colspan="2">
                        <a class="btn btn-info btn-sm" th:href="@{/paciente/cadastroConsulta/(id=${medico.getUserID().toString()}) }"
                           role="button">
                            <span class="oi oi-brush" th:title="#{link.add.label}" aria-hidden="true"> </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>